body{
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
ul{
	padding-top: 30px;
}
ul li{
	padding-left: 14px;
	font-size: 12px;
    list-style: none;
    display: inline;
}
ul li a{
	text-decoration: none;
	color: #D54258;
}
img{
	padding:3px;
}
ul li a:hover{
	background-color:#6176D3; 
	 color:white; 
	 border-radius: 40px;
	 padding:4px; 
	 padding-left:26px; 
	 padding-right:26px;
}
ol{
	padding-top: 14px;
	padding-left: 350px;
}
ol li{
	list-style: none;
	display: inline;
}
ol li a{
	color: black;
	padding-left: 5px;
	padding-right: 5px;
}